<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>register</title>
</head>
<body>
    {% include 'sethu/base.html' %}
    <!-- <div class="container-fluid"> -->
        {% block content %}

        {% endblock  %}

    




    <!-- <h1>{{err1}}</h1> -->
    <!-- <a href="/login" class="btn btn-primary">login</a> -->
    <div class="container bg-light body1">
        <div class="row">
        <div class="card bg-primary col-6 offset-3 mt-5 ">
            <div class="card-header text-center bg-success">
                register PAGE
            </div>
            <div class="card-body  shadow-lg">
                
                <form action="/register" method="POST" class="">
                    {% csrf_token %}
                <div class="form-group col-12">
                    <label for="name">EMAIL : <small class="text-danger">*</small> </label>
                    <input type="email" name="email" class="form-control" required></div>
                    <div class="form-group col-12">
                    <label for="">PASSWORD: <small class="text-danger">*</small> </label>
                    <input type="password" name="password" class="form-control" required></div>
                    <p class="text-danger">{{err}}</p>
                    <div class="form-group col-3">
                        <input type="submit" value="register" class="form-control btn-outline-success d-block" required></div>
                    </div>
                </div>
                
                    

                </form>

            </div>
        </div>
        
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" ></script>

</body>
</html>